/* styles.css */


body {
    
    background-color: #ccccddd3; 

    
     background-image: url('/images/bg1.jpg'); 
   
}


header {
    
    background-color: #ccccddd3; 

    
     background-image: url('/images/bg1.jpg'); 
    
}
